<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.recipick.header.HeaderMapper">

	<!-- 위시리스트 -->
    <select id="getWishlistCount" resultType="int">
        SELECT COUNT(*)
        FROM recipe_like 
        WHERE member_id = #{member_id}
    </select>
    
    <!-- 장바구니 -->
    <select id="getCartCount" resultType="int">
        SELECT COUNT(*)
        FROM cart 
        WHERE member_id = #{member_id}
    </select>
    
</mapper>
